.story-item{
    display: flex;
    padding: 60px 3%;
    max-width: 1200px;
    margin: auto;
}

.story-title{
    font-size: 48px;
    padding: 0 100px;
    line-height: 1.1;
    margin-bottom: 8px;
}

.story-subtitle{
    font-size: 24px;
    padding: 0 100px;
    line-height: normal;
}

.story-image{
    max-width: 100%;
    height: auto;
}

.story-saperator{
    display: block;
    width: 100%;
    padding: 5px 0;
    background-color: #222;
}